<div class="plan default row">
  <div class="col-6 col-lg-3">
    <div class="price-custom py-2">
      <div class="currency">$</div>
      <div class="price-body">
        <div class="price-value">120</div>
        <div class="price-details">
          <div>00</div>
          <div>per/month</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <ul class="ul-check-icon py-2">
      <li>Full access to the fitness area</li>
      <li>30 entries for a family member/year</li>
      <li>Is simply dummy text of the printing</li>
    </ul>
  </div>
  <div class="col-6 my-2 ">
    <div class="title text-center text-blue-dark py-2">And much more offers</div>
    <div class="offers-sm">
      <p-carousel [value]="offers" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-offer pTemplate="item">
          <div class="offer-card">
            <div class="card-body">
              <div class="img-holder mx-auto"><img src={{offer.imgUrl}} alt=""></div>
              <p class="text-white text-center">{{offer.name | removeinnerline}}</p>
            </div>  
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="offers">
      <div *ngFor="let offer of offers">
        <div class="img-holder mx-auto"><img src={{offer.imgUrl}} alt=""></div>
        <p class="text-white text-center">{{offer.name | removeinnerline}}</p>
      </div>
    </div>
  </div>
  <div class="col-6  col-lg-4 mx-auto py-5">
    <app-user-form></app-user-form>
  </div>
</div>