<div class="plan default row">
  <div class="col-6 col-lg-3">
    <div class="price-custom py-2">
      <div class="currency">$</div>
      <div class="price-body">
        <div class="price-value">120</div>
        <div class="price-details">
          <div>00</div>
          <div>per/month</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <ul class="ul-check-icon py-2">
      <li>Full access to the fitness area</li>
      <li>30 entries for a family member/year</li>
      <li>Is simply dummy text of the printing</li>
    </ul>
  </div>
  <div class="col-6 my-2 ">
    <div class="title text-center text-blue-dark py-2">And much more offers</div>
    <div class="offers">
      <div>
        <div class="img-holder mx-auto"><img src="../assets/img/1-studio-de-pilates.png" alt=""></div>
        <p class="text-white text-center">Pilate Classes</p>
      </div>
      <div>
        <div class="img-holder mx-auto"><img src="../assets/img/clase-de-inot-pentru-copii.png" alt=""></div>
        <p class="text-white text-center">Swimming classes</p>
      </div>
      <div>
        <div class="img-holder mx-auto"><img src="../assets/img/42-de-studiouri-de-aerobic.png" alt=""></div>
        <p class="text-white text-center">Cardio  Classes</p>
      </div>
      <div>
        <div class="img-holder mx-auto"><img src="../assets/img/zone-de-relaxare.png" alt=""></div>
        <p class="text-white text-center">Relax Area</p>
      </div>
      <div>
        <div class="img-holder mx-auto"><img src="../assets/img/saune-umede.png" alt=""></div>
        <p class="text-white text-center">Wet saunas</p>
      </div>
    </div>
  </div>
  <div class="col-6  col-lg-4 mx-auto py-5">
    <app-user-form ></app-user-form>
  </div>
</div>