<div class="plan gold row">
  <div class="col-6 col-lg-3">
    <div class="price-custom py-2">
      <div class="currency">$</div>
      <div class="price-body">
        <div class="price-value">197</div>
        <div class="price-details">
          <div>95</div>
          <div>per/month</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <ul class="ul-check-icon py-2">
      <li>Acsses to all classes Cardio/Body</li>
      <li>Accsess to Cycling & Swimming Classes</li>
      <li>40 entries for a family member/year</li>
      <!-- <li>Squash classes for children</li> -->
    </ul>
  </div>
  <div class="row py-2">
    <div class="col-6 py-2">
      <div class="title text-blue-dark text-center py-2">Stay FITT is HARD</div>
      <p class="subtitle-small text-secondary text-center">wee know that, so enjoy</p>
    </div>
    <div class="col-6 col-md-3 offer-holder">
        <p>Swimming classes for children</p>
        <p>20 Personal trainers</p>
        <p>Access to SPA area</p>
        <p>YOGA classes</p>
        <p>PILATES classes</p>
        <p>CYCLING classes</p>
    </div>
    <div class="col-6 col-md-3 col-lg-2">
      <div class="img-holder"><img src="../assets/img/gold-img.png" alt=""></div>
    </div>
  </div>
  <div class="col-6  col-lg-4 mx-auto py-5">
    <app-user-form ></app-user-form>
  </div>
</div>