.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  
  .container {
    max-width: 1140px;
  }

}
@media screen and (min-width: 1400px) {}


.row{
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;

}
/* COLS */

.col,.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,
.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,
.col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6{
  position: relative;
  padding: 0 1.25rem;
  width: 100%;
}

.col{
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
.col-1{
  flex:0 0 16.33333%;
  max-width: 16.33333%;
}
.col-2{
  flex:0 0 33.33333%;
  max-width: 33.33333%;
}
.col-3{
  flex:0 0 50%;
  max-width: 50%;
}
.col-4{
  flex:0 0 66.66666%;
  max-width: 66.66666%;
}
.col-5{
  flex:0 0 83.33333%;
  max-width: 83.33333%;
}
.col-6{
  flex:0 0 100%;
  max-width: 100%;
}

@media screen and (min-width: 576px) {
  .col-sm-1{
    flex:0 0 16.33333%;
    max-width: 16.33333%;
  }
  .col-sm-2{
    flex:0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-3{
    flex:0 0 50%;
    max-width: 50%;
  }
  .col-sm-4{
    flex:0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-sm-5{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-6{
    flex:0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-md-1{
    flex:0 0 16.33333%;
    max-width: 16.33333%;
  }
  .col-md-2{
    flex:0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-3{
    flex:0 0 50%;
    max-width: 50%;
  }
  .col-md-4{
    flex:0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-md-5{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-6{
    flex:0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-lg-1{
    flex:0 0 16.33333%;
    max-width: 16.33333%;
  }
  .col-lg-2{
    flex:0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-3{
    flex:0 0 50%;
    max-width: 50%;
  }
  .col-lg-4{
    flex:0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-lg-5{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-6{
    flex:0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1{
    flex:0 0 16.33333%;
    max-width: 16.33333%;
  }
  .col-xl-2{
    flex:0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-3{
    flex:0 0 50%;
    max-width: 50%;
  }
  .col-xl-4{
    flex:0 0 66.66666%;
    max-width: 66.66666%;
  }
  .col-xl-5{
    flex:0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-6{
    flex:0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 1400px) {}

@media screen and (min-width: 576px) {}
@media screen and (min-width: 768px) {}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1400px) {}