<!--The content below is only a placeholder and can be replaced.-->
<section class="header-wrapper">
  <div class="overlay"></div>
  <div class="header">
    <div class="container">
    </div>
  </div>
</section>
<section class="banner">
  <div class="container text-center">
    <div class="img-overlay">
      <h1 class="p-relative title-lg text-center text-white">If it doesn't challenge you, <br> it doesn't change you!</h1>
      <h2 class="title-md ">Sport meets IT</h2>
      <img src="../assets/img/header.png" class="img-fluid">
    </div>
  </div>
</section>
<section class="main-content p-relative">
  <div class="container">
    <h3 class="title-lg text-blue-dark text-center">Get your plan</h3>
    <h3 class="subtitle text-blue-dark text-center">The pain of today is the victory of tomorrow!</h3>
    <div class="plans-container">
      <div class="plans-tab-wraper text-blue-dark">
        <div class='plan-tab' *ngFor="let plan of plans"
          (click)="setSelectedPlan(plan)"
            [class.active]="plan.name===selectedPlan.name">
            <span class="focus-border"></span>
          <div class="title"> {{plan.name|titlecase }}</div>  
        </div>
      </div>
      <div class="plan-content " [ngSwitch]="selectedPlan.name">
        <h3 class="title text-center text-blue-dark">Pain is weakness leaving the body </h3>
        <app-default-plan *ngSwitchCase="'default'"></app-default-plan>
        <app-silver-plan *ngSwitchCase="'silver'"></app-silver-plan>
        <app-gold-plan *ngSwitchCase="'gold'"></app-gold-plan>
        <app-custom-plan *ngSwitchCase="'custom'"></app-custom-plan>
      </div>
    </div>
  </div>
</section>
<section class="footer">
  <div class="title-lg  text-white z-index my-auto">Work hard! Stay FITT !</div>
  <div class="overlay"></div>
</section>
<section>
  <div class="pink-line"></div>
</section>





<!-- <app-user-form></app-user-form>
<app-user-custom-form></app-user-custom-form> -->
