<!--The content below is only a placeholder and can be replaced.-->
<section class="header-wrapper">
  <div class="header-overlay"></div>
  <div class="header">
    <div class="container">
      <div class="header-content text-center text-white">
        <h1 class="p-relative title-lg">If it doesn't challenge you, <br> it doesn't change you!</h1>
      </div>
    </div>
  </div>
</section>
<section class="banner">
  <div class="container text-center">
    <div class="img-overlay">
      <h2 class="title-md ">Sport meets IT</h2>
      <img src="../assets/img/header.png" class="img-fluid">
    </div>

  </div>
</section>
<section class="main-content">
  <div class="container">
    <h3 class="title-lg text-blue-dark text-center">Get your plan</h3>
    <h3 class="subtitle text-blue-dark text-center">The pain of today is the victory of tomorrow!</h3>
    <div class="plans-tab-wraper">
      <div class='bg-blue-{{plan.name}} plan-tab text-white' *ngFor="let plan of plans" (click)="setSelectedPlan(plan)">
        <div class="title"> {{plan.name|titlecase }}</div>
      </div>
    </div>
    <div class="plan-content bg-blue-{{selectedPlan.name}}" [ngSwitch]="selectedPlan.name">
        <app-default-plan *ngSwitchCase="'default'"></app-default-plan>
        <app-silver-plan *ngSwitchCase="'silver'"></app-silver-plan>
        <app-gold-plan *ngSwitchCase="'gold'"></app-gold-plan>
        <app-custom-plan *ngSwitchCase="'custom'"></app-custom-plan>
    </div>
  </div>
</section>






<!-- <app-user-form></app-user-form>
<app-user-custom-form></app-user-custom-form> -->
