<form class="form-custom floating-labels" (ngSubmit)="onSubmit()" #userForm="ngForm">
  <div class="row">
    <div class="col-6 col-md-2">
      <div class="form-group">
        <label for="first-name" class="label-floating">First Name*</label>
        <input class="form-control" id="first-name" name="firstName" type="text" [ngModel]="user.firstName" (ngModelChange)="user.firstName=$event.trim()" #firstName="ngModel" [floatingLabels]="user" required>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="form-group">
        <label for="last-name" class="label-floating">Last Name*</label>
        <input class="form-control" id="last-name" name="lastName" type="text" [ngModel]="user.lastName" (ngModelChange)="user.lastName=$event.trim()" [floatingLabels]="user" required>
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="form-group">
        <label for="email" class="label-floating">Email*</label>
        <input class="form-control" id="email" name="email" type="email" [ngModel]="user.email" (ngModelChange)="user.email=$event.trim()" [floatingLabels]="user" required>
      </div>
    </div>
    <div class="col-6 col-md-2 mx-auto">
      <button class="btn btn-primary btn-custom w-100 my-2">Subscribe</button>
    </div>
  </div>
</form>
