<div class="plan default row">
  <div class="col-6 col-lg-3">
    <div class="price-custom py-2">
      <div class="currency">$</div>
      <div class="price-body">
        <div class="price-value">90</div>
        <div class="price-details">
          <div>00</div>
          <div>per/month</div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6 col-lg-3">
    <ul class="ul-check-icon py-2">
      <li>Full access to the fitness area</li>
      <li>Possibility to rent towels</li>
      <li>12 entries for a family member</li>
      <li>Is simply dummy text of the printing</li>
    </ul>
  </div>
  <div class="col-6 col-md-5 col-lg-4 mx-auto py-5">
    <app-user-form></app-user-form>
  </div>
</div>
