* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

html {
  font-size: 100%;
}

body {
  font-family: 'Spartan', sans-serif;
  color: #403e3e;
  position: relative;
}

h1,
h2,
h3 {
  margin: 30px 0px;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    margin: 50px 0px;
  }
}
@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}

/* header */

.header-wrapper {
  background-image: url("./assets/img/couple-running.jpg");
  background-attachment: fixed;
  background-position: 20% 15%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(62, 103, 146, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

}

@media screen and (min-width: 768px) {
  .header-wrapper {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .header-wrapper {
    background-position: 20% 0%;
  }
}

/* banner */

.img-overlay .title-lg,
.img-overlay .title-md {
  color: #4679ae
}

@media screen and (min-width: 768px) {
  .img-overlay {
    margin-top: -530px;
    position: relative;
  }

  .img-overlay .title-lg,
  .img-overlay .title-md {
    color: #ffffff
  }
}
@media screen and (min-width: 992px) {
  .img-overlay {
    margin-top: -600px;
    position: relative;
  }
}

@media screen and (min-width: 1400px) {
  .img-overlay {
    margin-top: -650px;
    position: relative;
  }
}


/* main-content */

.main-content:after {
  position: absolute;
  display: block;
  right: 0%;
  top: 0%;
  width: 500px;
  height: 1000px;
  z-index: -1;
  background-color: #F7F7F7;
  border-bottom-left-radius: 1000px;
  border-top-left-radius: 1000px;
  content: "";
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
  .main-content:before {
    position: absolute;
    display: block;
    left: 0%;
    bottom: 80%;
    width: 400px;
    height: 800px;
    z-index: -1;
    background-color: #bf5f7c1a;
    border-bottom-right-radius: 800px;
    border-top-right-radius: 800px;
    content: "";
  }
}
@media screen and (min-width: 992px) {}
@media screen and (min-width: 1200px) {}
@media screen and (min-width: 1400px) {}

/* plan tabs */
.plans-tab-wraper {
  display: none;
  position: relative;
  background-color: #ebecec;
}

.plans-tab-wraper .plan-tab {
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  position: relative;
  width: 15%;

}

.plans-tab-wraper .plan-tab .focus-border {
  position: absolute;
  left: 50%;
  width: 0;
  bottom: 0;
  height: 2px;
  background-color: #2b5687;
  transition: 0.4;
}

.plans-tab-wraper .plan-tab.active .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.plans-tab-wraper .plan-tab.active .title {
  color: #BF5F7C;
  transition: 0.4s;
}

@media screen and (min-width: 768px) {
  .plans-tab-wraper {
    display: flex;
    justify-content: space-around;
}
}

/* plans */
.plan {
  align-items: center;
}

@media screen and (min-width: 768px) {
  .plan-content {
    padding: 10px;
  }
}

/* PRICE CUSTOM */
.price-custom,
.price-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 200;
}

.price-custom {
  justify-content: center;
  color: #2b5687;
}

.currency,
.price-details>div:first-child {
  font-size: 3rem;
  margin-top: 6px;
  font-weight: 300;
}

.price-value {
  font-size: 5.5rem;
}

.price-details>div:first-child {
  margin-bottom: 5px;
}

.price-details>div {
  font-weight: normal;
}


/* OFFERS */
.offers {
  background-color: rgba(187, 48, 89, 0.4);
  display: none;
  padding: 25px 0px;
  position: relative;
  border-bottom: 10px solid #2b5687
}

.offers::before,
.option-price:before ,
.offer-card .card-body::before{
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0%;
  background-color: rgba(43, 86, 135, 0.4);
  top: 0%;
  z-index: -1;
}

.offers .img-holder {
  width: 70px;
  height: 70px;
}

.gold .offer-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gold .offer-holder p {
  font-size: 1.2rem;
  padding: 5px 0px;
  color: #2b5687;
}

@media screen and (min-width: 768px) {

  .offers-sm{
    display: none;
  }
  .offers {
    display: flex;
    justify-content: space-around;

  }
  .gold .offer-holder {
    text-align: right;
  }

}

/* custom select app component*/
.select-container{
  border-bottom: 2px solid #bf5f7c;
  display: flex;
  justify-content: center;
}
.select-holder {
  position: relative;
  display: inline-block;
}
.select-holder span{
  position: absolute;
  top: 15px;
  right: 2%;
}
.custom-select {
  border: none;
  font-size: 30px;
  padding: 10px 30px;
  outline: none;
  background: transparent;
  appearance: none;
  overflow: hidden;
  color: #2b5687;
}
.custom-select:focus{
  outline: none;
}

.custom-select option{
  font-size: 18px;
  outline: none;
  background: rgba(191, 95, 124, 0.2);
  appearance: none;
}
.custom-select option:focus{
  outline: none;
}

@media screen and (min-width: 768px) {
  .select-container{
display: none;
  }
}


/* Carusel */
.offer-card{
 position: relative;
 margin: 0.3rem;
}

.offer-card .card-body{
  background-color: rgba(187, 48, 89, 0.4);
  padding: 0.1rem;
  border-bottom: 5px solid #2b5687;
}
.offer-card .card-body .img-holder{
  width: 70px;
  height: 70px;
}

body .ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
  background-color: #2b5687;
}

/* FOOTER */
.footer {
  min-height: 200px;
  background-image: url("./assets/img/footer-img.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    background-position: 50% 70%;
  }
}

@media screen and (min-width: 1400px) {
  .footer {
    background-position: 50% 80%;
    min-height: 260px;
  }
}