/* You can add global styles to this file, and also import other style files */
html {
  font-size: 100%;
}

body {
  font-family: 'Spartan', sans-serif;
  color: #403e3e;
  position: relative;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px
}

h1,
h2,
h3 {
  margin: 50px 0px;
}

/* header */
.main-content:after{
    position: absolute;
    display: block;
    right:0%;
    top:0%;
    width: 500px;
    height: 1000px;
    z-index: -1;
    background-color: #F7F7F7;
    border-bottom-left-radius: 1000px;
    border-top-left-radius: 1000px;
    content: "";
}


.header-wrapper {
  background-image: url("./assets/img/couple-running.jpg");
  background-attachment: fixed;
  background-position: 20% 15%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: none;
}

.overlay {
  position: absolute;
  background-color: rgba(62, 103, 146, 0.6);
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;

}

.header-content {
  padding-top: 130px;
  padding-bottom: 130px;
}

.header .title-lg {
  bottom: 0px;
}

.img-overlay .title-md {
  color: #4679ae
}

/* colors */
.text-white {
  color: #ffffff
}

.text-secondary {
  color: #BF5F7C;
}

.text-blue-primary {
  color: #4679ae;
}

.text-blue-dark {
  color: #2b5687
}

.bg-blue-default {
  background-color: #2b5687
}

.bg-blue-silver {
  background-color: #77a3d4
}

.bg-blue-gold {
  background-color: #1f3e61
}

.bg-blue-custom {
  background-color: #376fae
}

/* titles */
.title-lg {
  font-size: 1.25rem;
  font-weight: 400;
}

.title-md {
  font-size: 1.125rem;
  font-weight: 300;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 300;
}
.subtitle-small{
  font-size: 1.2rem;
}
.title {
  font-size: 1.5625rem;
  font-weight: 400;
}

/* utilities */
.text-center {
  text-align: center
}

.p-relative {
  position: relative;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.separator {
  height: 100px;
}

.mx-auto {
  margin: 0 auto;
}

.my-auto {
  margin: auto 0;
}

.my-2 {
  margin: 20px 0;
}

.mx-2 {
  margin: 0px 20px;
}

.py-2 {
  padding: 20px 0;
}

.px-2 {
  padding: 0px 20px;
}

.py-5 {
  padding: 50px 0;
}

.px-5 {
  padding: 0px 50px;
}

.w-100 {
  width: 100%;
}

.z-index {
  z-index: 1;
}
.blue-line{
width: 100%;
height: 10px;
background-color: #2b5687;
}
.pink-line{
  width: 100%;
  height: 10px;
  background-color: #BF5F7C;
}

img{
  width: 100%;
  height: auto;
}
/* tabs */
.plans-tab-wraper {
  display: flex;
  position: relative;
  justify-content: space-around;
  background-color: #ebecec;
}

.plans-tab-wraper .plan-tab {
  cursor: pointer;
  padding: 10px 0px;
  text-align: center;
  position: relative;
  width: 15%;

}

.plans-tab-wraper .plan-tab .focus-border {
  position: absolute;
  left: 50%;
  width: 0;
  bottom: 0;
  height: 1px;
  background-color: #2b5687;
  transition: 0.4;
}

.plans-tab-wraper .plan-tab.active .focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.plans-tab-wraper .plan-tab.active .title {
  color: #BF5F7C;
  transition: 0.4s;
}

.plan-content {
  padding: 10px;
}

.plan {
  align-items: center;
}

/* Lists */

.ul-check-icon {
  list-style: none;
}

.ul-check-icon li {
  padding-left: 1.7rem;
  position: relative;
  font-size: 1.125rem;
  margin: 10px 0px;
}

.ul-check-icon li::before {
  position: absolute;
  display: block;
  left: 0;
  width: 20px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 14'%3e%3cpath fill='rgba(43, 86, 135, 1)' d='M5.917,13.264 C4.181,11.466 2.445,9.668 0.710,7.870 C-0.004,7.129 1.157,6.025 1.874,6.769 C3.418,8.369 4.962,9.969 6.507,11.569 C8.105,9.961 14.938,2.248 16.537,0.639 C17.265,-0.093 18.426,1.011 17.700,1.741 C15.905,3.547 8.876,11.458 7.081,13.264 C6.782,13.563 6.212,13.570 5.917,13.264 Z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  content: "";
}

/*-----------------------
FORMS: Floating Labels
-------------------------*/

.form-custom .form-control {
  border-width: 0 0 1px 0;
  border-color: #2b5687;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  height: 40px;
  width: 100%;
  font-size: 1.125rem;
  color: inherit;
  color: #2b5687;
  font-family: inherit;
}

.form-custom .form-control:focus {
  outline: none;
  border-width: 0 0 1px 0;
  border-color: #BF5F7C;
}

.floating-labels .form-group {
  position: relative;
}

.floating-labels .label-floating {
  position: absolute;
  top: 0;
  left: 0;
  cursor: text;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  pointer-events: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  z-index: 2;
  color: #BF5F7C;
}

.floating-labels .label-floating.focused {
  padding-left: 0;
  font-size: 1rem;
  -webkit-transform: translateY(-85%);
  transform: translateY(-85%);
  opacity: 0.8;
}


/* PRICE CUSTOM */
.price-custom,
.price-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: 200;
}

.price-custom {
  justify-content: center;
  color: #2b5687;
}

.currency,
.price-details>div:first-child {
  font-size: 3rem;
  margin-top: 6px;
  font-weight: 300;
}

.price-value {
  font-size: 5.5rem;
}

.price-details>div:first-child {
  margin-bottom: 5px;
}

.price-details>div {
  font-weight: normal;
}

/* FOOTER */
.footer {
  min-height: 200px;
  background-image: url("./assets/img/footer-img.png");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* OFFERS */
.offers{
  background-color: rgba(187, 48, 89, 0.4);
  display: flex;
  justify-content: space-around;
  padding: 25px 0px;
  position: relative;
  border-bottom: 10px solid #2b5687
}
.offers::before{
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0%;
  background-color: rgba(43, 86, 135, 0.4);
  top:0%;
  z-index: -1;
}
.offers .img-holder{
  width: 70px;
  height: 70px;
}

.gold .offer-holder{
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
text-align: right;
}
.gold .offer-holder p{
  font-size: 1.2rem;
  padding: 5px 0px;
  color: #2b5687;
}
@media (min-width: 576px) {
  .floating-labels .form-group {
    margin-bottom: 1.563rem;
  }
}


@media screen and (min-width: 576px) {


  .title-lg {
    font-size: 1.875rem;
  }

  .title-md {
    font-size: 1.75rem;
  }

  .subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 768px) {

  .img-overlay {
    margin-top: -280px;
    position: relative;
  }

  .img-overlay .title-md {
    color: #ffffff
  }

  .title-lg {
    font-size: 2.8125rem;
  }

  .title-md {
    font-size: 2.1875rem;
  }

  .subtitle {
    font-size: 1.625rem;
    font-weight: 300;
  }

  .header-wrapper {
    display: block;
  }

}

@media screen and (min-width: 992px) {


  .img-overlay {
    margin-top: -400px;
    position: relative;
  }

  .title-lg {
    font-size: 3.125rem;
  }

  .title-md {
    font-size: 2.4rem;
  }

  .subtitle {
    font-size: 1.875rem;
    font-weight: 300;
  }
}

@media screen and (min-width: 1200px) {
  .header-wrapper {
    background-position: 20% 0%;
  }

  .img-overlay {
    margin-top: -500px;
    position: relative;
  }

  .footer {
    background-position: 50% 70%;
  }

  .main-content:before{
    position: absolute;
    display: block;
    left:0%;
    bottom:80%;
    width: 400px;
    height: 800px;
    z-index: -1;
    background-color: #bf5f7c1a;
    border-bottom-right-radius: 800px;
    border-top-right-radius: 800px;
    content: "";
  }
}

@media screen and (min-width: 1400px) {
  .title-lg {
    font-size: 3.75rem;
  }

  .img-overlay {
    margin-top: -650px;
    position: relative;
  }

  .footer {
    background-position: 50% 80%;
    min-height: 260px;
  }
}


/* Buttons */
.btn {
  font-weight: 500;
  font-size: 1.3rem;
  padding: 10px 25px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-primary {
  color: #BF5F7C;
  background-color: transparent;
  border-bottom-color: #2b5687;
  border-radius: 0px;
}

.btn-custom {
  text-align: left;
  padding-left: 0.75rem;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #2b5687;
  border-radius: 5px;

}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}