<div class="custom plan row">
  <div class="col-6  option-container ">
    <!-- <div class="label">Type</div> -->
    <div class="form-check">
      <label class='form-check-label'>
        <input name='type' type='radio'>
        <span class='inner-label'>Day Time</span>
    </label>
    <label class='form-check-label'>
      <input name='type' type='radio' checked>
      <span class='inner-label'>Full Time</span>
  </label>
    </div>
  </div>
  <div class="col-6  option-container ">
    <div class="form-check">
      <label class='form-check-label'>
        <input name='type' type='checkbox'>
        <span class='inner-label'>Cicling</span>
    </label>
    <label class='form-check-label'>
      <input name='type' type='checkbox' >
      <span class='inner-label'>Yoga</span>
  </label>
  <label class='form-check-label'>
    <input name='type' type='checkbox' >
    <span class='inner-label'>Body Pump</span>
</label>
<label class='form-check-label'>
  <input name='type' type='checkbox' >
  <span class='inner-label'>Aerobic</span>
</label>
<label class='form-check-label'>
  <input name='type' type='checkbox' >
  <span class='inner-label'>TRX</span>
</label>
    </div>
  </div>
  <div class="col-6  option-container ">Access</div>
  <div class="col-6  option-container ">Personal Trainer</div>
</div>